@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Astrobia Bold";
  src: url("./assets/fonts/Astrobia Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-astrobia {
  font-family: "Astrobia Bold", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}
